/*global*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
    --primary:#fc0;
}

*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    color:#fff;
    font-family: 'Lato', sans-serif;

}
img{
    max-width: 100%;
}
/*utilities*/

/*nav*/
nav.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;   
    height: 42px; 
}
nav.menu a{
    margin-right:20px;
}
img.logo-border{
    height: 30px;
    padding-left:20px;
}
img.logo-complete{
    display:none    
}
a.link-login{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 13px;
    text-decoration:none;
    letter-spacing: 3px;

}
a.link-search{
    display:none;
}
a.link-news{
    display:none;
}
a.link-subs{
    text-transform:uppercase;
    background-color:black;
    color:white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    padding:11px;

}
a.link-menu{
    display:none;
}
a.link-arrows{
    color:black;
}


.section{
    
}
.todays-picks-item{

    display:flex;
    align-items:center;

}
.todays-picks-item img{
    
    width:8rem;
    height:7.2rem;
    
}
.secondary-news img{
    height:300px;
}
/*header*/

header{
    padding-top:25px;
    padding-bottom: 30px;
    text-align:center;
}
span{
    border-bottom: solid 2px var(--primary);
}
.subscribe-text{
    text-decoration:none;
    color:#fff;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, black 50%, yellow 50%);
    transition: .1s ease-in-out, color .1s ease-in-out;
}
.subscribe-text:hover{
    background-color: var(--primary);
    color:black;
    background-position:0% 100%;
}

.main-news{
    position:relative;
}

.main-news img{

}

.main-news-text{
    position:absolute;
    top:300px;
    left:30px;
}
.main-news-text h3{
    text-transform: uppercase;
    font-size:14px;
    letter-spacing: 3px;
}
.main-news-text p{
    font-size: 40px;
    font-weight: bold;
    color:white;
}
.main-news-text a{
    color:white;
    text-transform: uppercase;
    font-size:12px;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
}
.secondary-news img{
    height:300px;
    width:100%
}